.service {
    padding: 38.5px 0 0 0;
    background-color: #FFFFFF;

    @media screen and (max-width:767px) {
        padding: 43px 0 0 0;
    }
}

.service__title {
    position: relative;

    font-size: 80px;
    line-height: 1.28;
    text-transform: uppercase;
    color: var(--black-text-color);

    span {
        position: absolute;
        top: 10px;
        left: 334px;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 75px;
        background-color: #00B582;
        border-radius: 79px;
        color: var(--white-text-color);
    }

    @media screen and (max-width:767px) {
        font-size: 50px;
        line-height: 0.8;

        span {
            top: 0;
            left: 207px;
            width: 59px;
            height: 40px;

            svg {
                width: 17px;
                height: 12px;
            }
        }
    }
}

.service__block {
    display: flex;
    align-items: center;
    gap: 38px;
    margin-top: 44.5px;
    padding-bottom: 2px;

    @media screen and (max-width:1123px) {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    @media screen and (max-width:767px) {
        margin-top: 63.75px;
    }
}

.service__list {
    align-self: flex-end;
    position: relative;
    height: 290px;
    width: 690px;

    @media screen and (max-width:1123px) {
        align-self: flex-start;
    }

    @media screen and (max-width:767px) {
        width: 100%;
        height: 172px;
    }
}

.features {
    width: calc(100% - 728px);
    padding-bottom: 95px;

    @media screen and (max-width:1123px) {
        width: 100%;
    }

    @media screen and (max-width:767px) {
        padding-bottom: 0;
    }
}

.service__item {
    display: inline-block;
    padding: 24.5px 22.5px;
    border: 1.2px solid #000000;
    border-radius: 46px;

    font-family: 'Neue Machina';
    font-size: 24px;
    line-height: 0.95;
    text-transform: capitalize;
    color: var(--black-text-color);

    &:nth-child(1) {
        position: absolute;
        left: 48.5px;
        top: 38px;
        transform: rotate(7.09deg);
    }

    &:nth-child(2) {
        position: absolute;
        top: 144px;
        transform: rotate(-21.89deg);
    }

    &:nth-child(3) {
        position: absolute;
        top: 218px;
        left: 95.5px;
    }

    &:nth-child(4) {
        position: absolute;
        top: 115px;
        left: 236px;
        transform: rotate(-22.9deg);
    }

    &:nth-child(5) {
        position: absolute;
        top: 43px;
        left: 357.5px;
        transform: rotate(29.77deg);
    }

    &:nth-child(6) {
        position: absolute;
        left: 428px;
        top: 164px;
        transform: rotate(21.06deg);
    }

    &:nth-child(7) {
        position: absolute;
        top: 218px;
        left: 404px;
        padding: 24px 36px;
    }

    @media screen and (max-width:767px) {
        font-size: 14px;
        line-height: 1;
        padding: 14px 13px;
        border: 0.7px solid #000000;
        border-radius: 27 px;

        &:nth-child(1) {
            left: 28.5px;
            top: 23px;
            transform: rotate(7.09deg);
        }

        &:nth-child(2) {
            position: absolute;
            top: 85px;
            transform: rotate(-21.89deg);
        }

        &:nth-child(3) {
            position: absolute;
            top: 128px;
            left: 56.5px;
        }

        &:nth-child(4) {
            position: absolute;
            top: 68px;
            left: 140px;
            transform: rotate(-22.9deg);
        }

        &:nth-child(5) {
            position: absolute;
            top: 25px;
            left: 211px;
            transform: rotate(29.77deg);
        }

        &:nth-child(6) {
            position: absolute;
            left: 200px;
            top: 92px;
            transform: rotate(21.06deg);
        }

        &:nth-child(7) {
            padding: 14px 21px;
            top: 128px;
            left: 237px;
        }
    }

    @media screen and (max-width:384px) {
        padding: 9px;
        font-size: 12px;

        &:nth-child(1) {
            left: 60px;
            top: 65px;
        }

        &:nth-child(2) {
            position: absolute;
            top: 103px;
            left: 18px;
            transform: rotate(-21.89deg);
        }

        &:nth-child(3) {
            position: absolute;
            top: 142px;
            left: 56.5px;
        }

        &:nth-child(4) {
            position: absolute;
            top: 94px;
            left: 115px;
            transform: rotate(-22.9deg);
        }

        &:nth-child(5) {
            position: absolute;
            top: 45px;
            left: 165px;
            transform: rotate(29.77deg);
        }

        &:nth-child(6) {
            padding: 9px;
            font-size: 12px;
            left: 175px;
            top: 129px;
        }

        &:nth-child(7) {
            padding: 9px;
            left: 207px;
            top: 137px;
        }
    }
}

// features

.features__item {
    font-family: 'Neue Machina';
    font-size: 66px;
    line-height: 1.07;
    text-transform: uppercase;
    color: var(--black-text-color);

    span {
        color: #0000005E;
    }

    &:nth-child(2) {
        margin-left: 110px;
    }

    @media screen and (max-width:1480px) {
        font-size: 40px;
    }

    @media screen and (max-width:767px) {
        font-size: 30px;
        line-height: 0.92;

        &:nth-child(2) {
            margin-left: 45px;
        }
    }
}